global:
  scrape_interval: 5s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
  - job_name: "backend"
    static_configs:
      - targets: ["backend:8000"]
  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]
